pkgbase = m08f-printer
	pkgdesc = Linux driver/CLI/CUPS backend for the M08F A4 thermal printer (Phomemo / COLORWING / AIMO)
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/M-Wham/m08f-printer
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-pyserial
	depends = python-pillow
	depends = ghostscript
	depends = cups
	source = m08f-printer-0.1.0.tar.gz::https://github.com/M-Wham/m08f-printer/archive/refs/tags/v0.1.0.tar.gz
	sha256sums = f10f6e1f54e3f999b14a94459a7476f3b7070564b54e566c022454ea6689d936

pkgname = m08f-printer
